<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://167.99.11.185/"/>
    <meta property="og:image" content="https://static.wixstatic.com/media/56a444_9273e80a60684dc8b38e56025059f356%7Emv2_d_3200_1800_s_2.png"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 style="text-align:center">ПУБЛИЧНЫЙ ДОГОВОР-ОФЕРТА</h2>
    <h3 style="text-align:center">Мобильного приложения «Bomu»</h3>
<div style="text-align:center">Настоящий договор между мобильным приложением BOMU, именуемым в дальнейшем «Мобильное приложение BOMU», и пользователем услуг мобильного приложения, именуемым в дальнейшем «Пользователь» определяет условия приобретения услуги через мобильное приложение BOMU</div>
<br><div style="text-align:center"><strong>1. ОБЩИЕ ПОЛОЖЕНИЯ</strong></div>
1.1. Индивидуальный предпринимательство «Ismail» публикует настоящий договор, являющийся публичным договором - офертой (предложением) в адрес физических и юридических лиц в соответствии со ст. 447 Гражданского Кодекса Республики Казахстан (далее – ГК РК).
<br>1.2. Настоящая публичная оферта (именуемая в дальнейшем «Оферта») определяет все существенные условия договора между ИП «Ismail» и лицом, акцептовавшим Оферту.
<br>1.3. Настоящий договор заключается между Пользователем и между мобильным приложением BOMU в момент оформления услуги.
<br>1.4. Оферта может быть принята любым физическим или юридическим лицом на территории всего мира, имеющим намерение приобрести услугу, реализуемые/предоставляемые ИП «Ismail» через мобильное приложение BOMU, который доступ в AppStore/GooglePlay
<br>1.5. Покупатель безоговорочно принимает все условия, содержащиеся в оферте в целом (т.е. в полном объеме и без исключений).
<br>1.6. В случае принятия условий настоящего договора (т.е. публичной оферты), физическое или юридическое лицо, производящее акцепт оферты, становится Пользователем.
<br>1.7. Акцептом является получение сообщения о намерении физического или юридического лица приобрести услугу на условиях, предложенных мобильным приложением.
<br>1.8. Оферта, все приложения к ней, а также вся дополнительная информация о услугах ИП «Ismail», опубликована в мобильном приложении BOMU.
<br><div style="text-align:center"><strong>2.СТАТУС МОБИЛЬНОГО ПРИЛОЖЕНИЯ</strong></div>
<br>2.1. Мобильное приложение BOMU является собственностью ИП «Ismail» и предназначен для организации дистанционного способа предоставление услуги через сеть интернета в мобильном приложении.
<br>2.2. Мобильное приложение BOMU не несет ответственности за содержание и достоверность информации, предоставленной Пользователем при оформлении услуги.
<br><div style="text-align:center"><strong>3.СТАТУС ПОЛЬЗОВАТЕЛЯ</strong></div>
<br>3.1. Пользователь несет ответственность за достоверность предоставленной при оформлении услуги информации, и ее чистоту от претензий третьих лиц.
<br>3.2. Пользователь подтверждает свое согласие с условиями, установленными настоящим Договором, путем проставления отметки в графе «Условия Договора мною прочитаны полностью, все условия Договора мне понятны, со всеми условиями Договора я согласен» при оформлении услуги.
<br>3.3. Информация, предоставленная Пользователем, является конфиденциальной. Пользователь, предоставляя свои персональные данные, зарегистрировавшись в мобильном приложении или заполнении заявки на услугу дает своими действиями согласие на обработку его персональных данных в целях исполнения пользовательского соглашения. Мобильное приложение BOMU использует информацию о Пользователе исключительно в целях функционирования мобильного приложения (отправление уведомления Пользователю о выполнении услуги и т.д.) и в случаях, указанных в настоящем Договоре-оферте.
<br><div style="text-align:center"><strong>4.ПРЕДМЕТ ОФЕРТЫ</strong></div>
<br>4.1. Мобильное приложение BOMU, на основании заказов Пользователей, предоставляет Пользователю услугу в соответствии с условиями и по ценам, установленным мобильным приложение в оферте и приложениях к ней.
<br>4.2. К отношениям между Пользователем и Мобильным приложением применяются положения ГК РК, Закон Республики Казахстан от 04.05.2010 N 274-IV "О защите прав потребителей", а также иные нормативные правовые акты, принятые в соответствии с ними.
<br>4.3. Физическое или юридическое лицо считается принявшим все условия оферты (акцепт оферты) и приложений к ней в полном объеме и без исключений с момента получения сообщения о намерении Пользователя приобрести услугу на условиях, предложенных Мобильным приложением BOMU. 
<br><div style="text-align:center"><strong>5.ПОРЯДОК ЗАКЛЮЧЕНИЯ ДОГОВОРА </strong></div>
5.1. Пользователь может оформить услугу самостоятельно в мобильном приложении BOMU, на условиях Договора (публичной оферты).
5.2. Мобильное приложение BOMU не редактирует информацию о Покупателе.
5.3. Для получения бумажного экземпляра Договора, Пользователь отправляет заявку по электронной почте или телефону, указанным на сайте.
<br><div style="text-align:center"><strong>6.ПОРЯДОК ПРИОБРЕТЕНИЯ УСЛУГИ</strong></div>
<br>6.1. Пользователь вправе оформить услугу на любую собственную книгу. Каждая книга может быть опубликована в единственном количестве.
<br>6.2. После оформления услуги Мобильное приложение BOMU подтверждает публикацию книги путем отправления уведомления Пользователю.
<br><div style="text-align:center"><strong>7.ЦЕНА ТОВАРА</strong></div>
<br>7.1. Цена услуги в мобильном приложении BOMU указана в тенге Республики Казахстан за единицу.
<br>Указанная в мобильном приложении цена публикации может быть изменена мобильным приложением BOMU в одностороннем порядке, при этом цена на заказанную публикацию и оплаченный Пользователем изменению не подлежит.
<br><div style="text-align:center"><strong>8.ОПЛАТА УСЛУГ</strong></div>
<br>8.1. Оплата безналичным расчетом производится в течение одного дня. После поступления денежных средств на счет ИП «Ismail», книга публикуется в мобильном приложении. При безналичной форме оплаты обязанность по уплате цены считается исполненной с момента зачисления соответствующих денежных средств на расчетный счет, указанный мобильным приложением.
<br>8.2. Пользователь оплачивает услугу любым способом, выбранным в мобильном приложении.
<br>8.3. Расчеты Сторон при оплате заказа осуществляются в тенге Республики Казахстан.
<br><div style="text-align:center"><strong>9.ОТВЕТСТВЕННОСТЬ СТОРОН</strong></div>
<br>9.1. Стороны несут ответственность в соответствии с законодательством РК.
<br>9.2. Мобильное приложение BOMU не несет ответственности за ущерб, причиненный Пользователю вследствие ненадлежащего использования им услуги. 
<br>9.3. Стороны освобождаются от ответственности за неисполнение или ненадлежащее исполнение обязательств по договору на время действия непреодолимой силы.
<br><div style="text-align:center"><strong>10.ПРОЧИЕ УСЛОВИЯ</strong></div>
<br>10.1. К отношениям между Мобильным приложением BOMU и Пользователем применяется законодательство Республики Казахстан.
<br>10.2. При необходимости Мобильное приложение BOMU и Пользователь вправе в любое время оформить договор в форме письменного двухстороннего соглашения, не противоречащего положениям настоящей оферты.
<br>10.3. В случае возникновения вопросов и претензий со стороны Пользователя, он должен обратиться в отдел продаж ИП «Ismail »по адресу: по телефону: +7 777 008 66 66/ +7 700 167 06 06 или по e-mail: office@bomu.kz/ helpdesk@bomu.kz
<br>10.4. Настоящий договор вступает в силу с даты акцепта настоящей оферты и действует до полного исполнения обязательств Сторонами.
<br>10.5. Все споры и разногласия, возникающие при исполнении Сторонами обязательств по настоящему договору, решаются путем переговоров. В случае невозможности их устранения, Стороны имеют право обратиться за судебной защитой своих интересов.
<br>10.5. Мобильное приложение BOMU оставляет за собой право расширять и сокращать предложенные услуги в мобильном приложении, регулировать доступ к приобретению услуг, а также приостанавливать или прекращать услугу по своему собственному усмотрению.
<br><div style="text-align:center"><strong>11.АДРЕС И РЕКВИЗИТЫ </strong></div>
<br>Наименование: ИП «Ismail»
<br>Юридический адрес: Толе би 286.2 
<br>Фактический адрес: 8-микрорайон, БЦ «Казинвестстрой, 4 этаж – 419 офис
<br>БИН: 960621301390
<br>Номер счета KZT: KZ31722S000003196404
<br>БИК: CASPKZKA
<br>Кбе: 19 
</body>
</html>